* {
    font-family: 'Poppins', Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#232125, #232125);
    overflow-x: hidden;
}

/* Gaya header saat di-scroll */
#siteHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 10000;
}

/* Gaya tautan header (saat header tidak di-scroll) */
#siteHeader a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease; /* Efek transisi warna teks */
}

/* Gaya header saat di-scroll */
#siteHeader.header-scroll {
    background-color: #212121;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

/* Gaya tautan header (saat header di-scroll) */
#siteHeader.header-scroll a {
    color: #F0F0F0; /* Mengubah warna teks menjadi hitam saat di-scroll */
}


header .Logo {
    color: #fff;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font: Ma Shan Zheng;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 5px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

#headerNav a:hover,
#headerNav a:active {
    background: #e8dce3;
    color: #2b1055;
    transition: 0.3s;
}

/* Gaya submenu */
.submenu {
    display: none; /* Sembunyikan submenu secara default */
    position: absolute;
    background: #662549; /* Warna latar belakang submenu */
    z-index: 5;
    padding: 3px;
    border: 1px solid #27374D; /* Garis pinggir submenu */
}

/* Gaya tautan submenu */
.submenu a {
    display: block;
    text-decoration: none;
    color: #ccc; /* Warna teks submenu */
    padding: 5px 5px;
}

/* Tampilkan submenu saat mengarahkan mouse ke tautan kategori atau deadline */
#headerNav li:hover .submenu {
    display: block;
}


section {
    position: relative;
    width: 100%;
    height: 100vh; /* untuk memperlebar atau memperkecil*/
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#competition {
    mix-blend-mode: screen;
    position: fixed; /* Change to fixed to make it fixed while scrolling */
    z-index: 1;
    bottom: 0; /* Start the blackhole image at the bottom of the viewport */
    left: 50%;
    transform: translateX(-50%);
}

/* Add a new pseudo-element for the background */
section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

#text1 {
    position: absolute;
    font-size: 4.0vw; /* Ukuran font */
    margin-top: -100px; /* Menggeser teks ke atas */
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
    z-index: 3;
    left: 50%; /* Position at the horizontal center */
    top: 50%; /* Position at the vertical center */
    transform: translate(-30%, -30%); /* Center the element precisely */
    animation: moveText 8s linear infinite; /* Increased the animation speed */
}

#text2 {
    position: absolute;
    color: #F0F0F0;
    white-space: nowrap;
    font-size: 4.0vw;
    margin-top: -80px;
    z-index: 3;
    left: 50%; /* Position at the horizontal center */
    top: 60%; /* Position below the first text */
    transform: translate(-50%, -50%); /* Center the element precisely */
    animation: moveText 8s linear infinite;/* Increased the animation speed */
}

#text3 {
    position: absolute;
    color: #F0F0F0;
    white-space: nowrap;
    font-size: 4.0vw;
    margin-top: -80px;
    z-index: 3;
    left: 50%; /* Position at the horizontal center */
    top: 60%; /* Position below the first text */
    transform: translate(-50%, -50%); /* Center the element precisely */
}


#text4 {
    position: absolute;
    color: #F0F0F0;
    white-space: nowrap;
    font-size: 2.0vw;
    margin-top: -130px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%); /* Pusatkan elemen horizontal */
    top: 80%; /* Position below the first text */
}


@keyframes moveText {
    0% {
        transform: translate(-50%, -50%) translateX(-100px); /* Move left by 100px */
    }
    50% {
        transform: translate(-50%, -50%) translateX(100px); /* Move right by 100px */
    }
    100% {
        transform: translate(-50%, -50%) translateX(-100px); /* Move left by 100px */
    }
}

/* Gaya awal untuk kotak input pencarian */
#search-input {
    display: none;
    text-align: center;
}

#search-text {
    padding: 10px;
    border-radius: 60px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

#search-submit {
    padding: 10px 20px;
    border-radius: 60px;
    background: #fff;
    color: #aaa3b5;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

#search-btn {
    text-decoration: none;
    display: inline-block;
    padding: 1.5px 250px;
    border-radius: 50px;
    background: #fff;
    color: #aaa3b5;
    font-size: 1.2em;
    z-index: 3;
    position: absolute;
    left: 50%; /* Mengatur ke kanan (sesuaikan nilai sesuai kebutuhan) */
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    margin-top: 200px;
}

#search-btn i {
    margin-left: 5px; /* Jarak antara teks "Search" dan ikon */
}

#search-btn:hover {
    background: #e8dce3;
    color: #171315;
}

/*style untuk footer*/
.footer {
    display: flex;
    position: relative;
    padding: 100px;
    color: #aaa3b5;
    text-align: center;
    z-index: 2;
    clear: both;
}

/* Style for the footer */
.footer {
    background-color: #212121;
    padding: 60px 0;
}

/* Footer sections */
.footerLeft, .footerRight {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footerSection {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ini akan membuat konten tengah secara horizontal */
}

/* Style for menu and social media sections */
.fMenuTitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
}

.fListItem a {
    text-decoration: none;
    color: #aaa3b5;
    display: flex;
    align-items: center;
}

.fListItem a i {
    margin-right: 10px;
}

/* Style for contact info section */
.fContactInfo {
    font-size: 14px;
    color: #aaa3b5;
}

.fContactItem {
    margin-bottom: 10px;
}

.fContactItem i {
    margin-right: 10px;
}

.fDeskription {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa3b5; /* Warna teks deskripsi */
}

/* Style for newsletter section */
.fNewsletterText {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa3b5;
}

.fNewsletterForm {
    display: flex;
    align-items: center; /* Menengahkan input dan tombol secara vertikal */
}

.fInput {
    padding: 5px;
    flex: 1; /* Menggunakan flex: 1; agar input memanjang sesuai dengan kotak */
    border: none;
    border-radius: 5px;
    text-align: center; /* Menengahkan teks di dalam input */
}

.fButton {
    padding: 5px 15px;
    background-color: #2b1055;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.fButton:hover {
    background-color: #171315;
}

/*bagian produk*/
#container-bckground { /*untuk backkgroundnya*/
    padding: 15px; /* Sesuaikan dengan padding yang diinginkan */
    text-align: center; /* Teks di tengah secara horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #e8dce3;
    color: #fff;
    text-align: center;
    z-index: 3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 50px;
    background: #e8dce3;
}

.product {
    width: calc(33.33% - 40px); /*untuk memperkecil box nya*/
    margin-bottom: 50px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.product-box {
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-weight: bold;
    color: #212121;
    margin: 10px 0;
}

.product-price {
    color: #333;
    margin-bottom: 10px;
}

.product-desk {
    color: #333;
    margin-bottom: 10px;
}

.product button {
    background-color: #2b1055;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #171315;
}

.about {
    padding: 650px 100px; /* Ubah padding secara horizontal */
    background-color: rgba(243, 159, 159, 0.9);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about h2 {
    font-size: 24px;
    margin-top: 20px;
}

.about p {
    font-size: 16px;
    line-height: 1.8; /* Perbesar line-height */
}

.about ol {
    font-size: 16px;
    line-height: 1.8; /* Perbesar line-height */
    margin-left: 20px;
}
